<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourthwavedesign.lightalarm2" >

    <!-- This permission is necessary in order for Light Alarm to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:description="@string/app_description"
        android:versionCode="1"
        android:versionName="1.0.0"
        >

       <activity
           android:name="com.fourthwavedesign.lightalarm2.MyActivity"
           android:label="@string/app_name" >
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
        <!---       <activity
                   android:name="com.fourthwavedesign.lightalarm2.MainActivity"
                   android:label="@string/app_name" >
                   <intent-filter>
                       <action android:name="android.intent.action.MAIN" />

                       <category android:name="android.intent.category.LAUNCHER" />
                   </intent-filter>
               </activity>
       -->
        <activity
            android:name="com.fourthwavedesign.lightalarm2.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.fourthwavedesign.lightalarm2.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourthwavedesign.lightalarm2.MainActivity" />
        </activity>

        <activity
            android:name="com.fourthwavedesign.lightalarm2.FullImageActivity"
            android:label="BAM! You\'re welcome."
            android:parentActivityName="com.fourthwavedesign.lightalarm2.DetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourthwavedesign.lightalarm2.DetailActivity" />
        </activity>

        <activity
            android:name="com.fourthwavedesign.lightalarm2.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.fourthwavedesign.lightalarm2.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourthwavedesign.lightalarm2.MainActivity" />
        </activity>


        <activity
            android:name="com.fourthwavedesign.lightalarm2.EnterDataActivity"
            android:label="Enter Data"
            android:parentActivityName="com.fourthwavedesign.lightalarm2.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourthwavedesign.lightalarm2.MyActivity" />
        </activity>

        <provider
            android:authorities="com.fourthwavedesign.lightalarm2"
            android:name=".data.AlarmProvider" />
    </application>

</manifest>
